html{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}
nav{
    height: 15vh;
    background-color: rgb(12, 12, 49);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}
h1{
    color: antiquewhite;
    margin-top: 0;
    font-size: 50px;
    margin: auto 0;
}
#nameAndLogo{
    display: flex;
    align-items: center;
}
img{
    height: 7vh;
    aspect-ratio: 1/1;
    margin:10px ;
}
#navLinks{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 60vw;
    margin-left: auto;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 15px;
}


main{
    min-height: 85vh;
    margin-top: 15vh;
    background-image: url(register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vh 0;
}
#conatiner{
    margin: 0 auto;
    margin-bottom: 0vh;
    border-radius: 5%;
    width: 60%;
    padding: 3vh 0;
    background-color: rgba(0, 0, 0, 0.438);
}
h3{
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: fit-content; 
    font-size: 30px; 
    color: antiquewhite;
}

input,select{
    font-size: 25px;
    margin: 10px;
    border-radius: 5%;
    background-color: rgba(245, 222, 179, 0.5);
    border: 5px solid rgb(59, 57, 57);
}

input[type="submit"]{
    background-color: rgba(101, 255, 54, 0.637);
    width: 30%;
    align-self: center;
}





footer{
    background-color: rgb(12, 12, 49);
    color: antiquewhite;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
p{
  margin: 0;
  padding: 5px;  
  font-size: 20px;
}
address{
    margin: 10px 0;
}